@keyframes blink {
    0% {
        background-color: #59FF80;
    }

    50% {
        background-color: #ffffff;
    }

    100% {
        background-color: #59FF80;
    }
}

#front_screen {
    height: 87vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    >button {
        position: absolute;
        top: 2%;
        right: 21%;
        padding: 5px 15px;
    }

    main {
        flex: 80% 0 1;
        height: 100%;
        background: #F9F6EF;
        padding: 10px;

        .header {
            display: flex;
            justify-content: center;

            ul {
                display: grid;
                max-width: 800px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 40px;
                grid-row-gap: 10px;
            }


            li {
                height: 20px;
                display: flex;
                align-items: center;

                div {
                    height: 20px;
                    width: 20px;
                    margin-right: 5px;
                }
            }

            li:nth-of-type(1)>div {
                background: #B7B7B7;
            }

            li:nth-of-type(2)>div {
                background: #5779FF;
            }

            li:nth-of-type(3)>div {
                background: #D62B81;
            }

            li:nth-of-type(4)>div {
                border: 1.5px dashed red;
            }

            li:nth-of-type(5)>div {
                background: #59FF80;
                border-radius: 50%;
            }

            li:nth-of-type(6)>div {
                background: #F7E902;
                border-radius: 50%;
            }

            li:nth-of-type(7)>div {
                background: #FF703C;
                border-radius: 50%;
            }
        }

        .deskes_area {
            height: 93%;
            width: 100%;
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr 6fr;
            grid-column-gap: 30px;
            grid-row-gap: 10px;

            >.area {
                display: grid;
                grid-template-rows: 1fr 2.1fr;
                grid-column-gap: 10px;
                grid-row-gap: 10px;

                >.area {
                    display: grid;
                    grid-template-columns: 1fr 2.5fr;
                    grid-column-gap: 30px;
                    grid-row-gap: 10px;

                    >.area {
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        grid-column-gap: 10px;
                        grid-row-gap: 10px;
                    }
                }
            }

            .deskes {
                .desk {
                    background: #5779FF;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .seat {
                        position: absolute;
                    }

                    .center {
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        background: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: 'Leckerli One';
                        font-size: 26px;
                    }

                    .center.state1 {
                        background: #59FF80;
                        animation: blink 1s infinite;
                    }

                    .bar {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom: -30px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #333;

                        div {
                            width: 75%;
                            height: 6px;
                            border-radius: 3px;
                            background: #818181;
                            border: 0.5px solid #333;
                            overflow: hidden;

                            div {
                                height: 100%;
                                background: #fff;
                            }
                        }


                        span {
                            font-size: 12px;
                        }
                    }
                }
            }

            .deskes1 {
                display: grid;
                grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr;
                grid-row-gap: 20px;

                >div {
                    .desk {
                        height: 100%;
                        width: 80%;

                        .seat {
                            height: 60%;
                            width: 12px;
                            top: 50%;
                            right: -12px;
                            transform: translateY(-50%);
                            background: #FBB034;
                            border-top-right-radius: 20px;
                            border-bottom-right-radius: 20px;
                        }

                        .center {
                            height: 70%;
                        }

                        .bar {
                            padding: 0 5px;
                            z-index: 10;
                            transform: translateY(-12px);
                        }
                    }
                }

                >div:first-of-type {
                    .desk {
                        height: 100%;
                        width: 80%;
                        border-radius: 120px 120px 0 0;
                        transform: translateY(18px);
                    }
                }
            }

            .deskes3 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 20px;

                >div {
                    display: flex;
                    align-items: center;

                    .desk {
                        width: 100%;
                        height: 70%;

                        .seat {
                            height: 12px;
                            width: 75px;
                            background: #FBB034;
                        }

                        .seat:nth-of-type(1) {
                            top: -12px;
                            left: 10%;
                            border-top-right-radius: 20px;
                            border-top-left-radius: 20px;
                        }

                        .seat:nth-of-type(2) {
                            top: -12px;
                            right: 10%;
                            border-top-right-radius: 20px;
                            border-top-left-radius: 20px;
                        }

                        .seat:nth-of-type(3) {
                            bottom: -12px;
                            left: 10%;
                            border-bottom-right-radius: 20px;
                            border-bottom-left-radius: 20px;
                        }

                        .seat:nth-of-type(4) {
                            bottom: -12px;
                            right: 10%;
                            border-bottom-right-radius: 20px;
                            border-bottom-left-radius: 20px;
                        }

                        .center {
                            height: 60%;
                        }

                        .bar {
                            padding: 0 50px;
                        }
                    }
                }
            }

            .deskes5 {
                >div {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .desk {
                        width: 90%;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        transform-origin: 0 200px;

                        .seat {
                            height: 12px;
                            width: 75px;
                            background: #FBB034;
                            top: -12px;
                            left: 50%;
                            transform-origin: 50% 150px;
                            border-top-right-radius: 20px;
                            border-top-left-radius: 20px;
                        }

                        .seat:nth-of-type(1) {
                            transform: translateX(-50%);
                        }

                        .seat:nth-of-type(2) {
                            transform: translateX(-50%) rotate(45deg);
                        }

                        .seat:nth-of-type(3) {
                            transform: translateX(-50%) rotate(90deg);
                        }

                        .seat:nth-of-type(4) {
                            transform: translateX(-50%) rotate(135deg);
                        }

                        .seat:nth-of-type(5) {
                            transform: translateX(-50%) rotate(180deg);
                        }

                        .seat:nth-of-type(6) {
                            transform: translateX(-50%) rotate(225deg);
                        }

                        .seat:nth-of-type(7) {
                            transform: translateX(-50%) rotate(270deg);
                        }

                        .seat:nth-of-type(8) {
                            transform: translateX(-50%) rotate(315deg);
                        }

                        .center {
                            height: 40%;
                            font-size: 40px;
                        }

                        .bar {
                            padding: 0 50px;
                        }
                    }
                }
            }

            .deskes4 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;

                >div {
                    display: flex;
                    align-items: center;

                    .desk {
                        width: 100%;
                        height: 70%;
                    }

                    .seat {
                        height: 12px;
                        width: 75px;
                        background: #FBB034;
                    }

                    .seat:nth-of-type(1) {
                        top: -12px;
                        left: 8%;
                        border-top-right-radius: 20px;
                        border-top-left-radius: 20px;
                    }

                    .seat:nth-of-type(2) {
                        top: -12px;
                        left: 50%;
                        transform: translateX(-50%);
                        border-top-right-radius: 20px;
                        border-top-left-radius: 20px;
                    }

                    .seat:nth-of-type(3) {
                        top: -12px;
                        right: 8%;
                        border-top-right-radius: 20px;
                        border-top-left-radius: 20px;
                    }

                    .seat:nth-of-type(4) {
                        bottom: -12px;
                        left: 8%;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                    }

                    .seat:nth-of-type(5) {
                        bottom: -12px;
                        left: 50%;
                        transform: translateX(-50%);
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                    }

                    .seat:nth-of-type(6) {
                        bottom: -12px;
                        right: 8%;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                    }

                    .center {
                        height: 60%;
                    }

                    .bar {
                        padding: 0 100px;
                    }
                }
            }

            .deskes2 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 15px;

                >div {
                    display: flex;
                    align-items: center;

                    .desk {
                        width: 100%;
                        height: 80%;
                    }

                    .seat {
                        height: 12px;
                        width: 75px;
                        background: #FBB034;
                    }

                    .seat:nth-of-type(1) {
                        top: -12px;
                        left: 50%;
                        transform: translateX(-50%);
                        border-top-right-radius: 20px;
                        border-top-left-radius: 20px;
                    }

                    .seat:nth-of-type(2) {
                        bottom: -12px;
                        left: 50%;
                        transform: translateX(-50%);
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                    }

                    .center {
                        height: 52%;
                    }

                    .bar {
                        padding: 0 10px;
                    }
                }
            }
        }
    }

    article {
        flex: 20% 0 1;
        height: 100%;
        background: #5A544B;
        display: grid;
        grid-template-rows: 3fr 2fr;
        padding: 10px;

        h3 {
            font-size: 22px;
            color: #fff;
            font-family: 'YujiSyuku';
            line-height: 50px;
            text-align: center;
            border-bottom: 2px solid #fff;
        }

        .serving_info {
            ul {
                max-height: 415px;
                overflow: auto;

                li {
                    display: grid;
                    align-items: center;
                    grid-template-columns: 1.2fr 3.5fr 1fr 1fr;
                    padding: 3px 0;
                    height: 40px;
                    border-bottom: 1px dashed #fff;

                    p {
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    p:nth-of-type(2) {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                li:first-of-type {
                    height: 30px;
                    border-bottom: 2px solid #fff;

                    p {
                        border-right: 2px solid #fff;
                    }

                    p:last-of-type {
                        border-right: none
                    }
                }
            }
        }

        .business_info {
            ul {
                padding: 10px 30px;

                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 35px;

                    p {
                        font-size: 18px;
                        color: #fff;
                    }

                    p:first-of-type {
                        font-family: 'YujiSyuku';
                    }
                }
            }
        }

    }
}