@import "@/assets/css/dialog.less";


#frontSetting {
    .dialog {
        width: 800px;
        height: 500px;
        justify-content: start;

        h3 {
            margin-bottom: 20px;
        }

        ul {
            width: 80%;

            li {
                display: grid;
                grid-template-columns: 3fr 1fr;
                grid-column-gap: 20px;
                align-items: center;
                margin-bottom: 20px;

                >button {
                    padding: 10px 10px;
                    background: #006ce0;
                    border-radius: 5px;
                    border: none;
                    color: #fff;
                }
            }

            li:nth-of-type(2) {
                grid-template-columns: 3fr 1fr 1fr;

                select {
                    height: 30px;

                    option{
                        text-align: center;
                    }
                }
            }

            li:nth-of-type(3) {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 10px;

                >p {
                    margin-right: 40px;
                }

                >div {
                    padding: 5px 25px;
                    border: 1px solid #818181;
                    margin-right: 5px;
                    position: relative;

                    button {
                        position: absolute;
                        right: 2px;
                        top: 2px;
                        border: none;
                        color: #818181;
                        background: #fff;
                        font-size: 14px;
                        line-height: 18px;
                        width: 18px;
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    // margin-bottom: 10px;
                }
            }
        }

        .close_btn {
            position: absolute;
            right: 20px;
            top: 20px;
            border: none;
            background: #fff;
            font-size: 30px;
            line-height: 30px;
            width: 30px;
            border-radius: 50%;
            overflow: hidden;
        }

        .close_btn:hover {
            background: #333;
            color: #fff;
        }
    }
}