#order {
    height: 100vh;
    width: 100vw;
    background-image: url("@/assets/images/order_img/order_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;


    header {
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 30px;

        .title {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 20%;

            div {
                display: inline-block;
                height: 40px;
                width: 40px;
                border: 3px solid #ff0707;
                transform: rotate(45deg);
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 1px 1px #fbb034;

                p {
                    font-family: YujiSyuku;
                    transform: rotate(-45deg)translate(-1px, -5px);
                    font-size: 26px;
                    color: #ff0707;
                    text-shadow: 1px 1px 0 #fbb034;
                }
            }
        }

        .desk_id {
            color: #fbb034;
            transform: translateY(20px);
            font-weight: bold;
        }
    }

    main {
        width: 100%;
        height: 85vh;
        // margin-top: 20%;
        display: flex;
        justify-content: space-between;

        nav {
            width: 24%;
            height: 100%;

            ul {
                height: 100%;
                width: 100%;
                overflow: auto;


                li {
                    height: 60px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    cursor: pointer;
                    user-select: none;
                    margin-bottom: 3px;
                    background: #fbb034;
                    color: #111;
                    font-family: YujiSyuku;
                    font-size: 20px;
                    font-weight: bold;


                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 80px;
                    }
                }

                li.active {
                    border: 1.5px solid #fbb034;
                    background: none;

                    p {
                        color: #fbb034;
                    }
                }

                li:last-of-type {
                    margin-bottom: 200px;
                }
            }
        }
    }

    footer {
        position: fixed;
        height: 8vh;
        width: 95%;
        bottom: 0;
        left: 2.5%;
        background: #333;
        border-radius: 30px;
        transition: ease-in-out 0.6s;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-family: YujiSyuku;
            font-weight: bold;
            transition: ease-in-out 0.6s;
            height: 40px;
            width: 120px;
            border-radius: 20px;
            font-size: 18px;
            border: none;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            p {
                transition: ease-in-out 0.6s;
            }

            .info {
                position: absolute;
                top: 20%;
                left: 30%;
                opacity: 0;
                width: 400px;

                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 500px;
                }
            }
        }

        >div.active {
            height: 600px;
            width: 600px;
            z-index: 3;
            border-radius: 50%;
            // align-items: start;

            p {
                font-size: 30px;
                transform: translateY(80%);
            }

            .info {
                opacity: 1;
            }
        }



        .accounting {
            background: #fbb034;
            left: 9px;
        }

        .accounting.active {
            transform: translate(-20%, -80%);
        }

        .price {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
        }

        .shoppingCart {
            background: #c60608;
            color: #fbb034;
            right: 9px;
            font-size: 16px;

            .countOrder {
                height: 25px;
                width: 25px;
                position: absolute;
                border-radius: 50%;
                top: -10px;
                right: -10px;
                background: #fbb034;
                color: #c60608;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .shoppingCart.active {
            transform: translate(20%, -80%);
        }

    }
}