@primary-color: #42b983;

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

li{
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#__vue-devtools-container__ {
  display: none !important;
}


@font-face {
  font-family: 'Julius Sans One';
  src: url('@/assets/font/Julius_Sans_One/JuliusSansOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jaro';
  src: url('@/assets/font/Jaro/Jaro_24pt-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Kosugi Maru';
  src: url('@/assets/font/Kosugi Maru/KosugiMaru-Regular.ttf') format('truetype')
}